<p>
    You have arrived at the Armor Shop.<br>
    The old man greets you and lets you look through his armors.
</p>

<div class="table-container">
    <table class="data-table" style="min-width: 400px">
        <thead>
            <tr>
                <th>Name</th>
                <th title="Health Point Regeneration">HP Regen</th>
                <th title="Physical Defense">P. Defense</th>
                <th>Adena</th>
            </tr>
        </thead>
        <tbody>
            <% items.forEach(function(armor) { %>
                <tr>
                    <td><%= armor.emoji %> <%= armor.name %></td>
                    <td><% if (armor.regen > 0) { %><span class="heal">+<%= armor.regen %></span><% } else { %><span class="muted">-</span><% } %></td>
                    <td><%= armor.statFormatted %></td>
                    <td class="gold">🪙 <%= armor.costFormatted %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>

<form action="/shop/armors" method="post">
    <div class="form-row">
        <select class="form-select" name="select_armor" id="armor-select">
            <option value="">🚪 Home Town</option>
            <% items.forEach(function(a) { %>
                <option value="<%= a.id %>" <%= player.armorId === a.id ? 'disabled' : '' %>>
                    Pick <%= a.emoji %> <%= a.name %> <%= player.armorId === a.id ? '(Owned)' : '' %>
                </option>
            <% }); %>
        </select>
        <button type="submit" class="btn btn-secondary" id="armor-btn">Return</button>
    </div>
</form>
