<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <title>Mini Lineage - <%= title %>
        </title>
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;700&family=Inter:wght@300;400;500&display=swap" rel="stylesheet">
        <% if (isRelease) { %>
            <link href="/css/style.css" rel="stylesheet" type="text/css">
        <% } else { %>
            <link href="/css/tokens.css" rel="stylesheet" type="text/css">
            <link href="/css/base.css" rel="stylesheet" type="text/css">
            <link href="/css/layout.css" rel="stylesheet" type="text/css">
            <link href="/css/forms.css" rel="stylesheet" type="text/css">
            <link href="/css/tables.css" rel="stylesheet" type="text/css">
            <link href="/css/buttons.css" rel="stylesheet" type="text/css">
            <link href="/css/components.css" rel="stylesheet" type="text/css">
        <% } %>
    </head>

    <body>
        <div id="app">
            <div id="wrapper">
                <div id="header">
                    <% if (headerClickable) { %>
                        <a href="/" id="header-link"><%- include('partials/header') %></a>
                    <% } else { %>
                        <%- include('partials/header') %>
                    <% } %>
                </div>

                <div id="content">
                    <div id="sidebar">
                        <%- statusHtml %>
                        <%- inventoryHtml %>
                    </div>

                    <div id="main">
                        <div class="panel">
                            <div class="panel-header flex">
                                <span><%= title %></span>

                                <div class="header-stats" title="Kills / Battles / Ambushes">
                                    <span class="header-stats-value"><%= enemyEmoji %> <%= totalEnemiesKilled %></span>
                                    <span class="header-stats-divider">/</span>
                                    <span class="header-stats-value">⚡ <%= totalBattles %></span>
                                    <span class="header-stats-divider">/</span>
                                    <span class="header-stats-value">💢 <%= totalAmbushes %></span>
                                </div>
                            </div>

                            <div class="panel-body">
                                <% if (lowHealthAlert) { %>
                                    <div class="alert alert-danger">
                                        <%- lowHealthAlert %>
                                    </div>
                                <% } %>

                                <%- include('partials/alert', { flash }) %>

                                <%- mainContent %>
                            </div>
                        </div>

                        <div id="copyright">Version <%- version %> &copy; 2005 &ndash; <%= year %></div>
                    </div>
                </div>

            </div>
        </div>
        <% if (isRelease) { %>
            <script src="/js/script.js"></script>
        <% } else { %>
            <script src="/js/sidebar.js"></script>
            <script src="/js/home.js"></script>
            <script src="/js/suicide.js"></script>
            <script src="/js/shop.js"></script>
        <% } %>
    </body>

</html>
