<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <title>Mini Lineage - <%= title %>
        </title>
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;700&family=Inter:wght@300;400;500&display=swap" rel="stylesheet">
        <link href="/style.css" rel="stylesheet" type="text/css">
        <link href="/buttons.css" rel="stylesheet" type="text/css">
    </head>

    <body>
        <div id="app">
            <div id="wrapper">
                <div id="header">
                    <% if (headerClickable) { %>
                        <a href="/" id="header-link"><%- headerBanner %></a>
                    <% } else { %>
                        <%- headerBanner %>
                    <% } %>
                </div>

                <div id="content">
                    <div id="sidebar">
                        <%- statusHtml %>
                        <%- inventoryHtml %>
                    </div>

                    <div id="main">
                        <div class="panel">
                            <div class="panel-header">
                                <%= title %>
                            </div>
                            <div class="panel-body">
                                <% if (lowHealthAlert) { %>
                                    <div class="alert alert-danger">
                                        <%- lowHealthAlert %>
                                    </div>
                                <% } %>
                                <%- mainContent %>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="copyright">Version 1.5 &copy; 2005 &ndash; <%= year %></div>
            </div>
        </div>
    </body>

</html>